body {
  color: #444443;
}

#content {
  max-width: 768px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-family: "Lato", "PingFang SC", "Microsoft YaHei", sans-serif;
  word-break: break-all;
}

h2 {
  position: relative;
  padding-left: 10px;
  margin: 0.7em 0;
}

h2::before {
  content: "";
  position: absolute;
  height: 0.9em;
  width: 4px;
  margin: 0.35em 0;
  left: 0;
  background-color: #123fff;
}

h3 {
  margin: 0.35em 0.7em;
}

h4 {
  margin: 0.3em 0.8em;
}

ul {
  margin: 0;
}
